doctype html
head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description' content='The HTML5 Herald')
    meta(name='author' content='SitePoint')
    script(src='/public/assets/js/index.js')
    link(rel='stylesheet' href='/public/assets/css/index.css')

div(id='app')